.menu{
    background-color: var(--page-color-1);
    font-family: "DM Sans", sans-serif;

    .nav-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5vh;
        color: white;

        a{
            color: white;
            text-decoration: none;
        };
        
        .nav-logo-container{
            height: 80%;
            .nav-logo{
                height: 80%;
            };
        };
    }
}